<html>
<head>
	<title>WIP Site</title>
</head>
<body style="background-color:gray;">
  <h1 style="text-align:center; margin:auto;width:50%;">Site Not Ready Yet</h1>

  <%= audio_tag "corona.mp3", autoplay: true%>

  <br><br>

  <%= image_tag "http://www.onlythebeat.com/wp-content/uploads/2013/11/morgan-page-dancing-gif.gif", size: "400x400", id: "gorilla", style: "position:relative; left:20%;width:60%"%>

</body>
</html>



<!--
<html><html lang=en><head><meta charset=UTF-8><title>Cultures Back</title></head><body><iframe width=100% height=1000px src=http://www.youtube.com/embed/T9RFb8xXZlk?autoplay=1 frameborder=0 allowfullscreen></iframe></body></html> -->
<!--
http://www.onlythebeat.com/wp-content/uploads/2013/11/morgan-page-dancing-gif.gif -->
